# Diretorios
/build/
/bin/
target/
/.metadata/
/RemoteSystemsTempFiles/

#Classes
*.class

#Arquivos Temporários
*.*~

#Compilados
gsan.jar
*.war
*.ear

#Desnecessários
*.struts-config-*

#Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml

